# Node
**/node_modules/
**/dist/
*.tsbuildinfo

# .NET / Visual Studio
**/bin/
**/obj/
**/.vs/
**/Logs/
*.suo

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
src/flow_enter_backend/.vs/flow_enter_backend.slnx/v18/DocumentLayout.json
src/flow_enter_backend/.vs/flow_enter_backend.slnx/v18/DocumentLayout.backup.json
src/flow_enter_backend/.vs/flow_enter_backend.slnx/v18/.suo
